.changepwd{height:195px!important;}
.p1{height:auto!important;}
.p2{height:auto!important;}
.sort_cont{widows:100%;}
.sort_cont li{float:left;display:block;padding-left:5px;padding-right:5px;width:auto:}
.sort_cont li{display:block;}
.sort_bo {font-weight:bold;}